<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Angular</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Sum']">Sum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">pulsations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
