.form-control,
.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.form-control {
  width: 500px;
}
